body {
    margin: 0;
    background-image: url('/modulecatalogueBackPage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Helvetica', sans-serif;
}
.site_navigation {
    background-color: #b895ed;
    padding: 0;
    box-shadow: 0em 0.5em 1em #3c3a45;
    display: flex;
    flex-direction: row;
}
.site_a {
    
    color: #130c11;
    text-decoration: none;
    font-size: 0.9em;
    transition: all 0.2s ease-out;
    margin: 0;
    padding: 0.6em
}
.site_a:hover,
.site_a:focus {
    background-color: #d2bdf2;
}
