body {
    margin: 0;
    background-image: url('/modulecatalogueBackPage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Helvetica', sans-serif;
}
.site_navigation {
    justify-content:flex-start;
    grid-gap: 0;
}
.site_a {
    padding: 0.3em;
    color: #130c11;
    text-decoration: none;
    border: 0.2em solid;
    border-color: rgba(0, 0, 0, 0);
    font-size: 0.9em;
    transition: all 0.2s ease-out;
    color: #e1ebe8;
    margin: 0;
}
.site_a:hover,
.site_a:focus {
  border-color: #e1ebe8;
}
