@inherits LayoutComponentBase
<header>
    <h1>Module Catalogue</h1>
    <ul>Data Science and Analytics</ul>
    <ul>Year 1</ul>
    <ul>University Of Portsmouth</ul>
    <aside>Course code: U2686PYC</aside>
</header>
@Body
