@inherits LayoutComponentBase
<link href="css/mainpage.css" rel="stylesheet">
<nav class="site_navigation"> 
    <NavLink class="site_a" href="/">Data Science</NavLink>
    <NavLink class="site_a" href="/ModuleCatalogue">Module Catalogue</NavLink>
    <NavLink class="site_a" href="/About">About</NavLink>
</nav>
<main>
@Body
</main>