@inherits LayoutComponentBase
<header class="box">
    <h1>Module Catalogue</h1>
    <ul>
        <li>Data Science and Analytics</li>
        <li>Year 1</li>
        <li>University of Portsmouth</li>
    </ul>
    <aside>Course code: U2686PYC</aside>
</header>
@Body
